body{
background-color: black;
}
h1 {
font-family: Ubuntu;
font-size: 2em;
color: white;
background-color: black;
text-align: center;
margin: 0.25em;
border-style: solid;
border-width: 0.75em;
border-color: white;
}
h2 {
font-family: Ubuntu;
font-size: 1.25em;
color: white;
background-color: #aaaaaa;
text-align: center;
}
p {
font-family: Ubuntu;
font-size: 0.75em;
color: black;
background-color: white;
text-align: center;
}
a {
font-family: Ubuntu;
color: white;
background-color: #888888;
text-decoration: overline;
}
